body {
	background-image: url("../images/background_crystal_collector.jpg");
	font-family: monospace; 
}

img {
	width: 145px;
	height: 150px;
}

.col-8 {
	width: 80%;
	margin: 0 auto;
}

.container {
	background-image: url("../images/background_crystal_collector.jpg");
}
